@font-face {
  font-family: 'Righteous';
  src: url('../assets/fonts/Righteous/Righteous-Regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Righteous/Righteous-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body.background {
 background-image: url("../assets/img/wallpaper.jpg");
 background-color: #cccccc;
}

.name {
  font-family: Righteous;
  font-size: 150px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
